<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Home</title>
</head>

<body>
    <%- include('./partials/nav') %>
        <h1>@ramizwebdeveloper</h1>

        <%- include('./partials/scripts') %>
</body>

</html>